<div id="login">
  <div class="text-center">
    <img src="assets/images/logo.png" class="login_logo" alt="" />
  </div>
  <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh não!</b></p>
    <ul class="alert-message-list">
      <li class="alert-message">Algo deu errado :(</li>
      <li class="alert-message">Que tal tentar novamente?</li>
    </ul>
  </nb-alert>

  <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Muito bom!</b></p>
    <ul class="alert-message-list">
      <li class="alert-message">
        Seja muito bem vindo a sua plataforma de ensino :)
      </li>
    </ul>
  </nb-alert>

  <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
    <div class="form-control-group">
      <label class="label" for="input-email">Email:</label>
      <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email"
        pattern=".+@.+\..+" placeholder="Seu e-mail" autofocus
        [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
        [required]="getConfigValue('forms.validation.email.required')"
        [attr.aria-invalid]="email.invalid && email.touched ? true : null" />
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="error-message" *ngIf="email.errors?.required">
          Email é obrigatório!
        </p>
        <p class="error-message" *ngIf="email.errors?.pattern">
          Você deve fornecer um e-mail real!
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-password">Senha:</label>
      <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
        id="input-password" placeholder="Senha" [status]="
          password.dirty ? (password.invalid ? 'danger' : 'success') : ''
        " [required]="getConfigValue('forms.validation.password.required')"
        [minlength]="getConfigValue('forms.validation.password.minLength')"
        [maxlength]="getConfigValue('forms.validation.password.maxLength')"
        [attr.aria-invalid]="password.invalid && password.touched ? true : null" />
      <ng-container *ngIf="password.invalid && password.touched">
        <p class="error-message" *ngIf="password.errors?.required">
          A senha é obrigatória!
        </p>
        <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
          A senha deveria entre
          {{ getConfigValue("forms.validation.password.minLength") }} a
          {{ getConfigValue("forms.validation.password.maxLength") }}
          caracteres
        </p>
      </ng-container>
    </div>

    <div class="form-control-group accept-group">
      <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Lembrar</nb-checkbox>
      <a class="forgot-password" routerLink="../recuperarsenha">Esqueceu a senha?</a>
    </div>

    <button nbButton fullWidth status="warning" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
      Entrar
    </button>
  </form>

  <section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
    or enter with:
    <div class="socials">
      <ng-container *ngFor="let socialLink of socialLinks">
        <a *ngIf="socialLink.link" [routerLink]="socialLink.link" [attr.target]="socialLink.target"
          [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
        <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target"
          [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      </ng-container>
    </div>
  </section>

  <!-- <section class="another-action" aria-label="Register">
    Não tem uma conta?
    <a class="text-link" routerLink="../register">Cadastre-se</a>
  </section> -->
</div>