<div class="row">
    <div class="col-sm-9">
        <nb-card size="giant" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large"
            class="d-none d-md-flex">
            <nb-card-header>
                <button nbButton status="primary" *ngIf="!fullScreenMode" (click)="fullScreenMode = true">Visualizar em
                    tela cheia</button>
                <button nbButton status="primary" size="tiny" *ngIf="fullScreenMode" class="btn-fullscreen"
                    (click)="fullScreenMode = false">Sair do modo tela cheia</button>
            </nb-card-header>
            <nb-card-body *ngIf="turmaDetalhe">
                <iframe allow="camera; microphone" [src]="meetUrl" class="iframe-jitsy"
                    [ngClass]="{'fullscreen': fullScreenMode}"></iframe>
            </nb-card-body>
        </nb-card>

        <nb-card size="giant" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large"
            class="d-block d-md-none">
            <nb-card-body *ngIf="turmaDetalhe">
                <iframe allow="camera; microphone" [src]="meetUrl" class="iframe-jitsy fullscreen"></iframe>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-sm-3">
        <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large">
            <nb-card-header>
                <h6>Sala de aula</h6>
            </nb-card-header>

            <nb-card-body>
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="people-outline"></nb-icon>

                    </div>
                    <div>
                        <h6 class="subtitle-2">Turma</h6>
                        <h6 class="subtitle"><strong>{{turmaDetalhe.nome}}</strong></h6>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-body *ngIf="aovivo">
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="person-outline"></nb-icon>

                    </div>
                    <div>
                        <h6 class="subtitle">Professor <strong>{{aovivo.disciplina.professor.nome}}</strong></h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="play-circle-outline"></nb-icon>

                    </div>
                    <div>
                        <small class="badge badge-primary"
                            [style.background-color]="aovivo.disciplina.cor">{{aovivo.disciplina.nome}}</small>
                        <h6 class="subtitle">{{aovivo.objeto.titulo}}</h6>
                        <p class="paragraph-2 text-hint">{{aovivo.objeto.descricao}}</p>

                    </div>
                </div>

            </nb-card-body>

            <nb-card-body *ngIf="!aovivo && (aulas && aulas.length > 0)">
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="person-outline"></nb-icon>

                    </div>
                    <div>
                        <h6 class="subtitle">Professor <strong>{{aulas[0].disciplina.professor.nome}}</strong></h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="play-circle-outline"></nb-icon>

                    </div>
                    <div>
                        <small class="badge badge-primary"
                            [style.background-color]="aulas[0].disciplina.cor">{{aulas[0].disciplina.nome}}</small>
                        <h6 class="subtitle">{{aulas[0].objeto.titulo}}</h6>
                        <p class="paragraph-2 text-hint">{{aulas[0].objeto.descricao}}</p>

                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>

</div>