<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Adicionar Material</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submit()" action="">
            <div class="form-group row">
                <label for="disciplinas" class="label col-sm-2 col-form-label">Disciplina</label>
                <div class="col-sm-10 d-flex">
                    <nb-select multiple placeholder="Selecione a disciplina" id="disciplinas"
                        formControlName="disciplinas">
                        <nb-option *ngFor="let disciplina of disciplinas" [value]="disciplina.idProfessorDisciplina">
                            {{disciplina.nome}}
                        </nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row">
                <label for="turmas" class="label col-sm-2 col-form-label">Turma</label>
                <div class="col-sm-10 d-flex">
                    <nb-select placeholder="Selecione as turmas" id="turma" formControlName="turma">
                        <nb-option *ngFor="let turma of turmas" [value]="turma.id">{{turma.nome}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="disciplinas" class="label col-sm-2 col-form-label">Tipo de material</label>
                <div class="col-sm-10 d-flex">
                    <nb-select placeholder="Selecione o tipo de material" id="tipo_material"
                        formControlName="tipo_material" (selectedChange)="changeTipo($event)">
                        <nb-option value="arquivo">
                            Arquivo
                        </nb-option>
                        <nb-option value="url">
                            Url
                        </nb-option>
                    </nb-select>
                </div>
            </div>
            <div [formGroup]="material">
                <div class="form-group row">
                    <label for="nome" class="label col-sm-2 col-form-label">Título</label>
                    <div class="col-sm-10">
                        <input type="text" nbInput id="nome" placeholder="Nome" formControlName="nome">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descricao" class="label col-sm-2 col-form-label">Descrição</label>
                    <div class="col-sm-10">
                        <input type="text" nbInput id="descricao" placeholder="Descrição" formControlName="descricao">
                    </div>
                </div>




                <div class="form-group row" *ngIf="form.controls['tipo_material'].value == 'url'">
                    <label for="url" class="label col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                        <input type="text" nbInput fullWidth id="url" placeholder="Url" formControlName="url">
                    </div>
                </div>
            </div>

            <div class="form-group row" *ngIf="form.controls['tipo_material'].value == 'arquivo'">
                <label for="url" class="label col-sm-2 col-form-label">Arquivo</label>
                <div class="col-sm-10">
                    <input type="file" nbInput fullWidth id="url" placeholder="Arquivo" formControlName="file"
                        (change)="fileChange($event)">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" nbButton status="primary"
                        [disabled]="form.invalid || isLoading">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>