<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-5">
        <h4>Grupos</h4>
      </div>
      <div class="col-md-5 ml-auto text-right">
        <input nbInput #search class="search" type="text" placeholder="Buscar"
          (keydown.enter)="onSearch(search.value)" />
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (custom)="onCustomAction($event)" (editConfirm)="onEditConfirm($event)" (rowSelect)="onEdit($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>