<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Adicionar Disciplina</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submit()" action="">

            <div class="form-group row">
                <label for="nome" class="label col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="nome" placeholder="Nome" formControlName="nome">
                </div>
            </div>
            <div class="form-group row">
                <label for="descricao" class="label col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="descricao" placeholder="Descrição"
                        formControlName="descricao">
                </div>
            </div>

            <div class="form-group row">
                <label for="descricao" class="label col-sm-2 col-form-label">Cor</label>
                <div class="col-sm-3">
                    <color-sketch (onChangeComplete)="colorChange($event)"></color-sketch>

                </div>
            </div>


            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" nbButton status="primary"
                        [disabled]="form.invalid || isLoading">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>