<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Adicionar Aluno</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" action="">
            <div class="form-group row">
                <label for="nome" class="label col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="nome" placeholder="Nome" formControlName="nome">
                </div>
            </div>
            <div class="form-group row">
                <label for="turma" class="label col-sm-2 col-form-label">Turma</label>

                <div class="col-sm-10" *ngIf="turmas.length == 0">Você
                    precisa
                    cadastrar uma
                    <a routerLink="/instituicao/turmas/cadastrar">turma</a>
                </div>

                <div class="col-sm-10" *ngIf="turmas && turmas.length > 0">
                    <nb-select fullWidth id="turma" placeholder="Selecione uma Turma" [(selected)]="selectedItem"
                        formControlName="turma">
                        <nb-option *ngFor="let turma of turmas;" [value]="turma.id">
                            {{ turma.nome }}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="cpf" class="label col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="cpf" placeholder="CPF" formControlName="cpf"
                        mask="000.000.000-00">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="label col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" nbInput fullWidth id="email" placeholder="E-mail" formControlName="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="dataNascimento" class="label col-sm-2 col-form-label">Data de Nascimento</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="dataNascimento" placeholder="Data de Nascimento"
                        formControlName="dataNascimento" mask="00/00/0000">
                </div>
            </div>
            <div [formGroup]="phones" class="form-group row">
                <label for="phone" class="label col-sm-2 col-form-label">Telefone para Contato</label>
                <div class="col-sm-10">
                    <input type="text" nbInput id="ddd" placeholder="(00)" formControlName="ddd" mask="(00)">
                    <input type="text" nbInput id="phoneNumber" placeholder="0.0000-0000" formControlName="phoneNumber"
                        mask="0.0000-0000">
                </div>

            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" nbButton status="primary" [disabled]="form.invalid || isLoading"
                        (click)="Adicionar()">Adicionar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>