<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <div class="row">
            <div class="col-md-5">
                <h4>Meus dados</h4>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submit()" action="" *ngIf="form">

            <div class="form-group row" *ngIf="userDetail.perfil != 'Administrador'">
                <label for="nome" class="label col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="nome" placeholder="Nome" formControlName="nome">
                </div>
            </div>

            <div class="form-group row" *ngIf="userDetail.perfil != 'Administrador'">
                <label for="nome" class="label col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="email" placeholder="Nome" formControlName="email">
                </div>
            </div>

            <div class="form-group row" *ngIf="userDetail.perfil != 'Administrador'">
                <label for="nome" class="label col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                    <input type="text" nbInput fullWidth id="cpf" placeholder="CPF" formControlName="cpf">
                </div>
            </div>

            <div class="form-group row">
                <label for="nome" class="label col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-10">
                    <input type="password" nbInput fullWidth id="password" placeholder="Nova senha"
                        formControlName="password">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" nbButton status="primary" [disabled]="form.invalid || isLoading">Alterar
                        seus dados</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>