<div class="row">
    <div class="col-md-7">
        <nb-card accent="info" class="shadow-lg" [nbSpinner]="timelineLoading" nbSpinnerStatus="primary"
            nbSpinnerSize="large">
            <nb-card-header>
                <h6>Suas próximas aulas</h6>
            </nb-card-header>



            <div *ngIf="aulas && aulas.length > 0 && !timelineLoading" class="p-4">
                <div *ngFor="let aula of aulas">
                    <div class="d-flex flex-wrap" *ngIf="!aula.objeto.aovivo">
                        <div class="mr-3">

                            <nb-icon icon="calendar-outline" class="text-disabled"></nb-icon>

                        </div>
                        <div >

                            <small class="badge badge-primary"
                                [style.background-color]="aula.disciplina.cor">{{aula.disciplina.nome}}</small>
                            <h6 class="subtitle">{{aula.objeto.titulo}}</h6>
                            <p class="paragraph-2 text-hint">{{aula.objeto.descricao}}</p>
                        </div>
                        <div class="ml-auto d-flex col-11 col-offset-1 col-sm-auto col-offset-auto">

                            <div>
                                <small>{{aula.objeto.dataInicio | date: 'dd/MM/yyyy'}}</small><br>
                                <small>De {{aula.objeto.dataInicio | date: 'HH:mm'}}h</small>
                                <small> as {{aula.objeto.dataFim | date: 'HH:mm'}}h</small>
                            </div>
                        </div>
                    </div>

                    <nb-card class="shadow" *ngIf="aula.objeto.aovivo" accent="danger">
                        <nb-card-body class="d-flex flex-wrap align-items-center">
                            <div class="mr-3">

                                <nb-icon icon="play-circle-outline"></nb-icon>

                            </div>
                            <div>
                                <small class="badge badge-primary"
                                    [style.background-color]="aula.disciplina.cor">{{aula.disciplina.nome}}</small>
                                <div class="d-flex">
                                    <h6 class="subtitle">{{aula.objeto.titulo}}</h6>
                                </div>
                                <p class="paragraph-2 text-hint">{{aula.objeto.descricao}}</p>

                            </div>
                            <div class="ml-auto col-11 col-offset-1 col-sm-auto col-offset-auto">

                                <div class="mb-3 d-flex-column d-sm-flex align-items-center">
                                    <small class="d-block mb-2 badge badge-danger mr-4 p-2">Ao vivo agora</small>
                                    <div>
                                        <small>{{aula.objeto.dataInicio | date: 'dd/MM/yyyy'}}</small><br>
                                        <small>De {{aula.objeto.dataInicio | date: 'HH:mm'}}h</small>
                                        <small> as {{aula.objeto.dataFim | date: 'HH:mm'}}h</small>
                                    </div>
                                </div>

                                <div class="text-left text-sm-right">
                                    <button nbButton  [routerLink]="['/professor/sala/'+selectedTurma.id]" size="small"
                                        class="shadow" shape="round" hero status="info">Acessar sala de
                                        aula</button>

                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

            </div>

            <div *ngIf="aulas && aulas.length == 0 && !timelineLoading">
                <nb-card class=" m-4">
                    <nb-card-body class="text-center p-4">
                        <p class="text-muted">Nenhuma aula próxima. <br> Talvez você deseje criar seu planejamento de
                            aulas.</p>

                        <a [routerLink]="['/professor/planejamento/criar']" nbButton class="shadow" nbButton hero
                            shape="round" status="primary">Criar
                            planejamento de aulas
                            +</a>
                    </nb-card-body>
                </nb-card>
            </div>



        </nb-card>
    </div>

    <div class="col-md-5">
        <nb-card accent="info" class="shadow-lg" [nbSpinner]="timelineLoading" nbSpinnerStatus="primary"
            nbSpinnerSize="large">
            <nb-card-header>
                <h6>Atividades recentes</h6>
            </nb-card-header>

            <nb-tabset>
                <nb-tab tabTitle="Atividades recentes" class="atividades__lista">
                    <div *ngIf="atividades && atividades.length > 0 && !timelineLoading"
                        class="atividades__lista-itens">
                        <div [routerLink]="['/professor/atividade/'+atividade.objeto._id]"
                            class="d-flex flex-wrap atividades__lista-item" *ngFor="let atividade of atividades"
                            [style.border-left-color]="atividade.disciplina.cor" style="cursor:pointer">
                            <div class="mr-3">

                                <nb-icon icon="edit-2-outline" class="text-disabled"
                                    *ngIf="!atividade.objeto.isExecutado">
                                </nb-icon>
                                <nb-icon icon="checkmark-outline" class="text-success"
                                    *ngIf="atividade.objeto.isExecutado">
                                </nb-icon>
                            </div>
                            <div>
                                <small class="badge badge-primary">{{atividade.disciplina.nome}}</small>
                                <h6 class="subtitle" [ngClass]="{'text-hint': atividade.objeto.isExecutado}">
                                    {{atividade.objeto.titulo}}</h6>
                                <p class="paragraph-2 text-hint">{{atividade.objeto.descricao}}</p>
                            </div>
                            <div class="ml-auto col-11 col-offset-1 col-sm-offset-auto col-sm-auto d-flex">

                                <div>

                                    <small>Prazo: {{atividade.objeto.prazoFinal | date: 'dd/MM/yyyy'}} as
                                        {{(atividade.objeto.prazoFinal | date: 'HH:mm') + 'h '}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="atividades && atividades.length == 0 && !timelineLoading">
                        <nb-card>
                            <nb-card-body class="text-center p-4">
                                <p class="text-muted">Não há atividades recententes. <br> Deseja cadastar uma nova
                                    atividade?</p>

                                <a [routerLink]="['/professor/atividades/criar']" nbButton class="shadow" nbButton hero
                                    shape="round" status="primary">Criar
                                    nova atividade
                                    +</a>
                            </nb-card-body>
                        </nb-card>
                    </div>



                </nb-tab>

            </nb-tabset>

        </nb-card>
    </div>
</div>