<div *ngIf="form">
  <h1 id="title" class="title">Recuperar senha</h1>
  <div class="subtitle text-center">
    Informe o e-mail cadastrado na plataforma para recuperar sua senha
  </div>
  <br>
  <br>
</div>


<form (ngSubmit)="submit()" [formGroup]="form" aria-labelledby="title" *ngIf="form">


  <div class="form-control-group">
    <label class="label" for="input-email">Email:</label>
    <input nbInput formControlName="email" id="input-email" name="email" pattern=".+@.+..+" placeholder="Seu e-mail"
      fullWidth>
  </div>


  <button nbButton fullWidth status="primary" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
    Enviar solicitação
  </button>
</form>

<nb-card accent="danger" *ngIf="isLoading || erro" [nbSpinner]="isLoading" nbSpinnerStatus="danger"
  nbSpinnerSize="large" nbSpinnerMessage="Validando acesso">
  <nb-card-body class="text-center">
    {{erro}}
  </nb-card-body>
</nb-card>


<section class="another-action" aria-label="Sign in">
  Tem uma conta? <a class="text-link" routerLink="../login">Faça o login</a>
</section>