<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Carregando">
  <nb-card-header>
    <div class=" d-flex">
      <div class="">
        <h4>Materiais</h4>
      </div>
      <div class="ml-auto text-right d-flex">

        <nb-select #disciplinaSelect placeholder="Selecione uma disciplina" [(selected)]="selectedDisciplina"
          (selectedChange)="filtrarTurma(selectedDisciplina)" filled status="primary" class="mr-4">
          <nb-option [value]="disciplina.idProfessorDisciplina" *ngFor="let disciplina of disciplinas">
            {{disciplina.nome}}</nb-option>
        </nb-select>

        <nb-select #turmaSelect placeholder="Selecione uma turma" [(selected)]="selectedTurma"
          (selectedChange)="getMateriais(selectedDisciplina, selectedTurma)" filled status="primary" class="mr-4">
          <nb-option [value]="turma.id" *ngFor="let turma of turmasFiltered">{{turma.nome}}</nb-option>
        </nb-select>


        <input nbInput #search class="search" type="text" placeholder="Buscar"
          (keydown.enter)="onSearch(search.value)" />
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (custom)="onCustomAction($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>