<ngx-one-column-layout *ngIf="professor">

    <nb-menu [items]="menu"></nb-menu>

    <div class="sub-header" sub-header>
        <div class="sub-header__displayname">
            <h6 class="text-alternate mb-0 subtitle">Olá {{professor.nome}} </h6>
        </div>
        <div class="sub-header__actions">
            <nb-select #turmaSelect placeholder="Selecione uma turma" [(selected)]="selectedTurma"
                (selectedChange)="navigateToTurma(selectedTurma)" filled status="primary"
                class="mr-md-4 action__select">
                <nb-option [value]="turma" *ngFor="let turma of turmas">{{turma.nome}}</nb-option>
            </nb-select>
            <!-- <button (click)="navigate('/professor/sala/'+selectedTurma.id)" nbButton hero shape="round"
                class="d-none d-md-block action__btn">Acessar sala de
                aula
                <nb-icon icon="play-circle-outline"></nb-icon>
            </button> -->
        </div>
    </div>
    <router-outlet></router-outlet>
</ngx-one-column-layout>