<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-5">
        <h4>Turmas</h4>
      </div>
      <div class="col-md-5 ml-auto text-right">
        <button type="button" nbButton status="primary" [routerLink]="['/instituicao/turmas/cadastrar']">
          <nb-icon icon="plus-outline"></nb-icon> Cadastrar turma
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>


    <nb-accordion *ngIf="lists">
      <nb-accordion-item *ngFor="let list of lists">
        <nb-accordion-item-header>{{list.grupo}}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let serie of list.series; let i = index">
            <h6>Série / Turma {{serie.serie}}</h6>
            <br>
            <ng2-smart-table [settings]="settings" [source]="serie.turmas" (custom)="onCustomAction($event)">
            </ng2-smart-table>
            <br>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>

</nb-card>