<div class="row">

    <div class="col-sm-9" *ngIf="atividade">

        <button nbButton hero status="basic" class="mb-3" (click)="goBack()">
            <nb-icon icon="arrow-back-outline"></nb-icon> Voltar
        </button>

        <form action="" #form='ngForm' (ngSubmit)="submitForm(form.value)" [nbSpinner]="isLoading" nbSpinnerSize="giant"
            nbSpinnerStatus="primary">
            <nb-card class="shadow" *ngFor="let questao of atividade.questoes; let i=index">

                <nb-card-header *ngIf="atividade.isExecutado" class="d-flex align-items-center"
                    style="position: relative;">

                    <div *ngIf="questao.acertou !== undefined">
                        <nb-badge text="Acertou" status="success" position="top right" *ngIf="questao.acertou">
                        </nb-badge>
                        <nb-icon icon="checkmark-outline" class="text-success" *ngIf="questao.acertou"></nb-icon>

                        <nb-badge text="Errou" status="danger" position="top right" *ngIf="!questao.acertou"></nb-badge>
                        <nb-icon icon="close-outline" class="text-danger" *ngIf="!questao.acertou"></nb-icon>
                    </div>
                    <h6>Questão {{i+1}} </h6>

                </nb-card-header>

                <nb-card-header *ngIf="!atividade.isExecutado">

                    <h6>Questão {{i+1}}</h6>
                </nb-card-header>

                <nb-card-body>
                    <div class="subtitle" [innerHTML]="questao.enunciado"></div>
                    <div *ngIf="questao.alternativas && questao.alternativas.length != 0">
                        <div *ngIf="questao.isMultiplaEscolha">
                            <div *ngIf="!atividade.isExecutado">
                                <nb-radio-group [(ngModel)]="questao[questao.id]" name="questao_{{questao.id}}">
                                    <nb-radio *ngFor="let alternativa of questao.alternativas" [value]="alternativa._id"
                                        [disabled]="atividade.isExecutado && !alternativa.respostaAluno"
                                        [checked]="alternativa.respostaAluno">
                                        {{ alternativa.texto }}
                                    </nb-radio>
                                </nb-radio-group>
                            </div>

                            <div *ngIf="atividade.isExecutado">
                                <div *ngFor="let alternativa of questao.alternativas"
                                    [ngClass]="{'text-hint': !alternativa.respostaAluno}">
                                    <nb-icon icon="checkmark-outline"
                                        [ngClass]="{'text-success': alternativa.respostaAluno}"
                                        *ngIf="alternativa.isResposta"></nb-icon>
                                    <nb-icon icon="close-outline" [ngClass]="{'text-danger': alternativa.respostaAluno}"
                                        *ngIf="!alternativa.isResposta">
                                    </nb-icon>
                                    <span
                                        [ngClass]="{'subtitle': alternativa.respostaAluno}">{{ alternativa.texto }}</span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div *ngIf="questao.alternativas && questao.alternativas.length == 0">
                        <textarea *ngIf="!questao.respostaAberta" nbInput fullWidth placeholder="Resposta"
                            [(ngModel)]="questao[questao.id]" name="questaoAberta_{{questao.id}}"
                            [attr.disabled]="questao.respostaAberta">
                        </textarea>

                        <p class="paragraph" *ngIf="questao.respostaAberta">
                            {{questao.respostaAberta}}
                        </p>
                        <small class="subtitle-2 ml-auto text-hint badge badge-light text-dark"
                            *ngIf="questao.alternativas && questao.alternativas.length == 0">
                            <nb-icon icon="person-outline" class="text-dark"></nb-icon> (
                            {{questao.comentarioProfessor}} )
                        </small>
                    </div>
                </nb-card-body>
            </nb-card>

            <button type="submit" nbButton status="primary" *ngIf="!atividade.isExecutado">Enviar</button>
        </form>
    </div>
    <div class="col-sm-3">
        <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large">
            <nb-card-header>
                <h6>Atividade</h6>
            </nb-card-header>
            <nb-card-body *ngIf="atividade">
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="edit-2-outline"></nb-icon>

                    </div>
                    <div>
                        <small class="badge badge-primary design">{{atividade.tipo}}</small>
                        <h6 class="subtitle">{{atividade.titulo}}</h6>
                        <p class="paragraph-2 text-hint">{{atividade.descricao}}</p>

                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="calendar-outline"></nb-icon>

                    </div>
                    <div>
                        <h6 class="subtitle">Prazo final: <strong>{{atividade.prazoFinal | date: 'dd/MM/yyyy'}} as
                                {{(atividade.prazoFinal | date: 'HH:mm') + 'h '}}</strong>
                        </h6>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mr-3">

                        <nb-icon icon="person-outline"></nb-icon>

                    </div>
                    <div>
                        <h6 class="subtitle">Professor <strong>{{atividade.professor.nome}}</strong></h6>
                    </div>
                </div>

                <div class="d-flex" *ngIf="atividade.isExecutado">
                    <div class="mr-3">

                        <nb-icon icon="checkmark-outline" class="text-success"></nb-icon>

                    </div>
                    <div>
                        <h6 class="subtitle">Pontuação obtida <strong><span class="badge badge-pill"
                                    [ngClass]="{'badge-success': atividade.pontuacaoObtida > 0, 'badge-danger': atividade.pontuacaoObtida == 0}">{{atividade.pontuacaoObtida}}</span></strong>
                        </h6>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>

</div>